/*font-family: 'Montserrat', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.wrap {
    width: 1140px;
    margin: auto;
}
.header {
    width: 100%;
    height: 900px;
    background-image: url(./css/header-image.png);
}
.header__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}
.form__search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 53px;
    background: #C4C4C4;
    border-radius: 30px;
}
.search {
    width: 73px;
    height: 24px;
    color: #fff;
    background: #C4C4C4;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    border: none;
    outline: none;
}
.button__search {
    background: #C4C4C4;
    border: none;
    outline: none;
    cursor: pointer;
}
.header__links {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;  
    text-decoration: none;
}
.header__button{
    width: 170px;
    height: 53px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background: #2D5D72;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}
.header__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 755px;
    height: 250px;
    margin-top: 240px;
}
.logo {
    color: #fff;
    font-weight: 600;
    font-size: 150px;
    line-height: 183px;
    letter-spacing: 0.05em;
}
.header__text {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.02em;
}
.header__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 55px;
    height: 130px;
    margin: 0 0 130px 1000px;
}
.world {
    width: 100%;
    height: 1240px;
    background: #000000;
}
.world__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.world__block-top {
    margin: 84px 0 22px 0;
}
.world__text {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.world__atmosphere-peace {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
}
.world__title {
    color: #fff;
    font-weight: 600;
    font-size: 65px;
    line-height: 79px;
    margin-bottom: 32px;
}
.world__text-title {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}
.world__fabulous-places {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.place__gullfoss {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./css/Gullfoss.png);
    width: 350px;
    height: 550px;
}
.place__reykjavik {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./css/Reykjavik.png);
    width: 350px;
    height: 550px;
}
.place__myvatn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./css/Myvatn.png);
    width: 350px;
    height: 550px;
}
.place__title {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.04em;
}
.place__text {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin: 5px 0 50px 0;
}
.slidershow {
    display: flex;
    margin-top: 90px;
}
.key {
    width: 34px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #212122;
    cursor: pointer;
    color: #fff;
}
.bar {
    width: 31px;
    height: 2px;
    margin: 15px;
    cursor: pointer;
    border: 2px solid #212122;
}